.container {
  width: 600px;
  margin: 50px auto;
  background-color: rgba(230, 230, 250, 0.373);
}
.search {
  padding: 20px;
}
.city {
  width: 70%;
  padding: 0;
}
p {
  margin: 0;
}
h1, h2, h3 {
  padding-left: 20px;
  margin: 0;
}
h1 {
  position: relative;
  bottom: 20px;
}
.info {
  position: relative;
  right: -365px;
  top: -70px;
}

hr {
  margin-bottom: 26px ;
}

.week {
  margin-bottom: 20px ;
}
.day {
  text-align: center;
  border: 1px solid rgba(237, 155, 237, 0.285);
  margin: 2px;
}
.emoji {
  font-size: 28px;
}
.coder {
  padding-left: 20px;
}